/soa-backup
**/soa-backup
/logs
/generatorConfig.xml
/src
predict-server/src/test/
*.iml
**/*.iml
*.project
*.classpath
*.zip
**/.idea/**
**/target/**
*.log
*/logs
classes
.idea
*.DS_Store
out
dump.rdb
**/dependency-reduced-pom.xml
